#insightPage {
  max-width: 1600px;
}

.insight-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}
.insight-table table {
  border-radius: 8px;
}
.insights-account-error section {
  height: 250px !important;
}
