#dataTableCard {
  width: 100% !important;
}

.dataTable-card-tag {
  background-color: #043a3a !important;
  color: #fff !important;
  max-width: 320px;
  height: 50px;
  width: min(80vw, 320px);
  position: relative;
  top: 2px;
  align-content: center;
  border-radius: 24px 24px 0px 0px !important;
}

.dataTable-card {
  background-color: #204e51 !important;
  border-radius: 24px !important;
}

.dataTable-card-header {
  border-bottom: 2px solid white !important;
  display: flex !important;
  align-items: left;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.dataTableCard-li-wrapper {
  display: flex !important;
  align-items: baseline;
  border-bottom: 1px solid white;
}
.dataTableCard-li {
  text-align: left;
}
.dataTableCard-card-btn {
  width: 70vw;
  max-width: 300px;
  height: 52px;
  border: none !important;
  background-color: white !important;
  border-radius: 100px !important;
  border: 1px solid var(--bs-primary-green) !important;
}

.dataTableCard-card-btn:hover {
  opacity: 0.7;
}

.selected-dataTable {
  transform: scale(1.05);
}
.selected-dataTable-btn {
  background-color: var(--bs-primary-green) !important;
  opacity: 1;
  color: white !important;
}
