#uploadImage .btn {
  font-weight: bold;
  border: 3px solid;
  --bs-btn-padding-x: 2rem;
}

#uploadImage .row {
  gap: 40px !important;
}

.upload-btn {
  color: var(--bs-primary-green) !important;
  font-weight: bold;
  border: 2px solid var(--bs-primary-green) !important;
  padding: 10px 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    box-shadow 0.2s;
}

.upload-btn:hover {
  background-color: var(--bs-primary-green) !important;
  color: white !important;
  border-color: var(--bs-primary-green) !important;
}

.upload-btn:focus {
  outline: none !important;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5) !important;
}

.upload-btn:active {
  background-color: var(--bs-primary-green) !important;
  border-color: var(--bs-primary-green) !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important; /* Inner shadow */
  color: white !important;
}

.upload-btn:disabled {
  color: rgba(0, 128, 0, 0.5) !important; /* Lighter green */
  border-color: rgba(0, 128, 0, 0.5) !important;
  background-color: rgba(0, 128, 0, 0.1) !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

/* InsightCard Styling */
.card-bg-primary {
  background-color: rgba(32, 78, 81, 0.5) !important;
  font-weight: bold;
}

#uploadImage .mild-success {
  color: var(--bs-primary-green-light);
}
#uploadImage table {
  width: 96%;
  border-collapse: collapse;
  margin: 10px auto 30px;
  border: 2px solid var(--bs-primary-green);
}


@media (min-width: 768px) {
  /*  Medium devices (tablets, 768px and up) */
  #uploadImage .row {
    gap: 0px !important;
  }
}
