#banner *,
#banner2 * {
  border: none;
  border-radius: 0;
}

.banner-btns-wrapper {
  display: flex;
  justify-content: center;
  gap: min(3vw, 50px);
}

.banner-btns {
  border: solid 2px !important;
  border-radius: 8px !important;
}

.banner-btns:hover {
  opacity: 0.7;
}

.text-content {
  margin: auto;
  width: 100%;
}

/* Banner2 Styling*/
#banner2 .text-content2 {
  padding-left: 5vw;
  display: flex;
  align-items: center;
}

#banner .display-1 {
  font-size: 2.1rem !important;
}

@media (min-width: 576px) {
  /*  Small devices (576px and up) */
  #banner .display-1 {
    font-size: 3.2rem !important;
    line-height: 1.3;
  }
  #banner2 .text-content2 h1 {
    font-size: 2rem !important;
  }
}
@media (min-width: 768px) {
  /*  Medium devices (tablets, 768px and up) */
  #banner .display-1 {
    font-size: calc(4rem + 1vw) !important;
  }
}
@media (min-width: 1200px) {
  #banner2 .text-content2 h1 {
    font-size: calc(3rem + 1vw) !important;
  }
}
